{% extends "base.html" %} {% block titulo %} Registro de artículo {% endblock %} {% block body %}
<h1>Registro de artículo</h1>

<form action="registroA" method="post"> {% csrf_token %}
    <table>
        <tr>
            <td>Número  de artículo</td>
            <td><input type="integer" name="nro_articulo" placeholder="Ingrese número de artículo" required/></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td><input type="text" name="nombre" placeholder="Ingrese nombre " required/></td>
        </tr>
        <tr>
            <td>Ubicación</td>
            <td><input type="date" name="ubicacion" placeholder="Ingrese ubicación" required/></td>
        </tr>
        <tr>
            <td>Stock</td>
            <td><input type="integer" name="stock" placeholder="Ingrese stock" required/></td>
        </tr>
        <tr>
            <td>Descripción</td>
            <td><input type="text" name="descripcion" placeholder="Ingrese descripcion" required/></td>
        </tr>
      
    </table>
    <div class="form-group py-3">
        <button type="submit" class="btn btn-success btn-block">Ingresar</button>
        <button type="button" class="btn btn-danger btn-block" onclick="document.location.href='inicio'">Cancelar</button>
    </div>
</form>

{% endblock %}