{% extends "base.html" %} {% block titulo %} Lista de artículo {% endblock %} {% block body %}

<table>
    <thead>
        <tr>
            <th>
                | Número de artículo |
            </th>
            <th>
                | Nombre |
            </th>
            <th>
                | Ubicación |
            </th>
            <th>
                | Stock |
            </th>
            <th>
                | Descripción |
            </th>
            
        </tr>
    </thead>
    <tbody>
        {% for art in articulos %}
        <tr>
            <td>{{art.nro_articulo}}</td>
            <td>|{{art.nombre}}</td>
            <td>|{{art.ubicacion}}</td>
            <td>|{{art.stock}}</td>
            <td>|{{art.descripcion}}</td>
        </tr>
        {% endfor %}
    </tbody>


{% endblock %}